#!/bin/bash
#
# Copyright (C) 2018 VMware, Inc.  All rights reserved.
# SPDX-License-Identifier: BSD-2-Clause OR GPL-3.0-only
#
# nsx-baremetal-server
#
# chkconfig: 2345 08 92
# description:

#
### BEGIN INIT INFO
# Provides:          nsx-baremetal-server
# Required-Start:
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: nsx-baremetal-server
### END INIT INFO

nsx_log() {
    echo "${1}"
    logger -p daemon.info -t NSX-BMS "${1}"
}

start() {
    nsx_log "nsx-baremetal start"
    ip link add {{ app_intf_name }} type veth peer name {{ app_intf_name }}-peer
    ip link set dev {{ app_intf_name }} address {{ mac_address }}
    ifconfig {{ app_intf_name }} {{ static_ip }} netmask {{ netmask }} up
    ifconfig {{ app_intf_name }}-peer up
    ovs-vsctl --timeout=5 -- --if-exists del-port {{ app_intf_name }}-peer -- add-port {{ int_br_name.stdout }} {{ app_intf_name }}-peer \
    -- set Interface {{ app_intf_name }}-peer external-ids:attached-mac={{ mac_address }} \
    external-ids:iface-id={{ vif_id }} external-ids:iface-status=active
    {% if routing_table is defined %}
    {% for item in routing_table %}
    route add {{ item }} dev {{ app_intf_name }}
    {% endfor %}
    {% endif %}
}

case "${1}" in
   "start")
      start
   ;;
   *)
      exit 1
   ;;
esac
