{
    "resource_type": "CommunicationMap",
    "description": "Quarantine communcation map",
    "display_name": "quarantine-section-1",
    "category":"Application",
    "communication_entries": [
      {
      	"resource_type": "CommunicationEntry",
        "description": " comm entry",
        "display_name": "ce-1",
        "sequence_number": 1,
        "source_groups": [
          "/infra/domains/bare-metal/groups/untrustvifgroup"
        ],
        "destination_groups": [
          "/infra/domains/bare-metal/groups/trustvifgroup"
        ],
        "services": [
          "ANY"
        ],
        "action": "DROP"
      }
    ]
}
