{
  "display_name": "{{ ansible_hostname }}/{{ app_intf_name }}@{{ tn_uuid.stdout }}",
  "logical_switch_id": "{{ ls_id }}",
  "attachment": {
    "attachment_type": "VIF",
    "id": "{{ vif_id }}",
    "context": {
      "resource_type": "VifAttachmentContext",
      "allocate_addresses": "None",
      "vif_type": "INDEPENDENT",
      "transport_node_uuid": "{{ tn_uuid.stdout }}"
    }
  },
  "address_bindings": [],
  "admin_state": "UP",
  "tags": [
    {
        "scope": "bm/os_type",
        "tag": "{{ os_type.stdout }}"
    }
  ]
}

