<!-- Configuration file for NSX Bare Metal Server -->
<config>
    <node_type>bms_node</node_type>
    <underlay>{{ underlay_mode | bool | lower }}</underlay>
    <endpointList>
        <endpoint id="0">
            <ip>{{ hostvars.nsxmanager.ip }}</ip>
            <port>1234</port>
            <proto>6</proto>
            <remote>true</remote>
        </endpoint>
    </endpointList>
</config>
