#!/bin/bash

# Copyright (C) 2018 VMware, Inc.  All rights reserved.
# SPDX-License-Identifier: BSD-2-Clause

{% if routing_table is defined %}

{% for item in routing_table %}
echo {{ item }}
route add {{ item }} dev {{ app_intf_name }}
{% endfor %}

{% endif %}
